<div class="h-lvh w-full p-10 overflow-hidden">
    <div class="bg-(--accent) h-full w-full rounded-xl shadow-md shadow-(color:--highlight) ring-(--highlight)">
        <div class="relative [&>*]:absolute [&>*]:font-black text-3xl sm:text-4xl lg:text-6xl [&>*]:w-full [&>*]:h-full [&>*]:text-center [&>*]:flex [&>*]:justify-center [&>*]:items-center w-full h-full -rotate-10">
            <div class="relative flex justify-center items-center z-2 text-(--secondary)">
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--background) mb-20 sm:mb-10 lg:mb-20 ml-[50%] animate-move" style="animation-delay: 1s;"></div>
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--primary) mb-25 sm:mb-17 lg:mb-27 ml-[35%] animate-move" style="animation-delay: 7s;"></div>
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--secondary) mb-30 sm:mb-24 lg:mb-34 ml-[60%] animate-move" style="animation-delay: 2s;"></div>
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--highlight) mb-35 sm:mb-31 lg:mb-41 ml-[55%] animate-move" style="animation-delay: 4s;"></div>
                <h1>This site is under construction</h1>
            </div>
            <div class="text-(--highlight) z-1">
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--background) mt-20 sm:mt-10 lg:mt-20 mr-[50%] animate-move" style="animation-delay: 1s;"></div>
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--primary) mt-25 sm:mt-17 lg:mt-27 mr-[35%] animate-move" style="animation-delay: 7s;"></div>
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--secondary) mt-30 sm:mt-24 lg:mt-34 mr-[60%] animate-move" style="animation-delay: 2s;"></div>
                <div class="absolute w-[20%] h-1 sm:h-2 bg-(--highlight) mt-35 sm:mt-31 lg:mt-41 mr-[55%] animate-move" style="animation-delay: 4s;"></div>
                <h1 class="animate-smallping">This site is under construction</h1>
            </div>
        </div>
    </div>
</div>