<div #header class="bg-(--highlight) rounded-xl mx-5 relative p-1 z-100 transition-all
before:content-[''] before:w-full before:h-4/10 before:bg-(--background) before:absolute before:inset-y-3/10 before:inset-x-0
after:content-[''] after:h-full after:w-9/10 after:bg-(--background) after:absolute after:inset-x-1/20 after:inset-y-0">
    <div class="bg-(--accent) rounded-xl relative z-1 p-5 sm:p-3 md:p-5 flex gap-10 items-center">

        <div class="flex flex-row justify-center items-center sticky top-5">
            <img src="favicon.ico" alt="N" class="max-h-[4em] sm:max-h-[2em] md:max-h-[4em]" [ngClass]="{'hue-rotate-270': !darkMode()}">
            <h1 #nameHeader class="overflow-hidden w-auto sm:max-w-[6ch] max-w-[0] m-0 mt-[0.2em] font-mono font-bold text-(--secondary) text-2xl sm:text-sm md:text-2xl transition-all ease-[steps(6)]">icolas</h1>
        </div>
        
        <app-color-scheme class="ml-auto"></app-color-scheme>
    </div>
</div>