<div class="h-dvh pt-15 sm:pt-0 flex flex-col">
    <!-- <div class="h-5"></div> -->
    <div class="flex flex-col sm:flex-row h-full justify-around items-center sm:items-start md:items-center sm:pt-10">
        <div class="flex justify-center items-center self-center sm:items-start text-center sm:text-start flex-col gap-5 xl:gap-10 text-(--primary) my-20 sm:my-0">
            <div class="grid font-mono">
                <h1 class="font-thin text-2xl md:text-4xl lg:text-4xl xl:text-5xl 2xl:text-7xl md:leading-10 xl:leading-15 2xl:leading-20 overflow-hidden w-[16ch]"><p class="w-0 mx-auto sm:mx-0 text-nowrap overflow-hidden animate-typing-top">Hi, my</p><p class="w-0 mx-auto sm:mx-0 text-nowrap overflow-hidden animate-typing-bottom">name is <b class="font-black text-(--highlight)">Nicolas</b><span>.</span></p></h1>
            </div>
            <p class="md:text-lg lg:text-xl xl:text-2xl 2xl:text-4xl animate-flyin overflow-hidden">I'm <b>studying computer science</b><br>at the university of Würzburg, Germany.</p>
        </div>
        <app-scroll-ind class="grow-1 sm:grow-0 self-end pr-[20%] lg:pr-0 h-full sm:pt-30 md:pt-50"></app-scroll-ind>
    </div>
</div>
