<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="var(--background-alt)" fill-opacity="1" d="M0,160L17.1,144C34.3,128,69,96,103,85.3C137.1,75,171,85,206,128C240,171,274,245,309,256C342.9,267,377,213,411,197.3C445.7,181,480,203,514,186.7C548.6,171,583,117,617,112C651.4,107,686,149,720,181.3C754.3,213,789,235,823,234.7C857.1,235,891,213,926,218.7C960,224,994,256,1029,229.3C1062.9,203,1097,117,1131,101.3C1165.7,85,1200,139,1234,149.3C1268.6,160,1303,128,1337,133.3C1371.4,139,1406,181,1423,202.7L1440,224L1440,0L1422.9,0C1405.7,0,1371,0,1337,0C1302.9,0,1269,0,1234,0C1200,0,1166,0,1131,0C1097.1,0,1063,0,1029,0C994.3,0,960,0,926,0C891.4,0,857,0,823,0C788.6,0,754,0,720,0C685.7,0,651,0,617,0C582.9,0,549,0,514,0C480,0,446,0,411,0C377.1,0,343,0,309,0C274.3,0,240,0,206,0C171.4,0,137,0,103,0C68.6,0,34,0,17,0L0,0Z"></path>
</svg>
<div class="w-full py-10 overflow-hidden text-(--primary) max-w-7xl mx-auto">
    <div class="h-full flex flex-col lg:grid lg:grid-cols-2 place-items-start bg-(--accent) rounded-xl shadow-md shadow-(color:--highlight) ring-(--highlight)
    [&>*]:p-5 sm:[&>*]:p-10">
        <div class="flex flex-col justify-center items-start w-full">
            <h1 class="text-3xl md:text-4xl xl:text-5xl font-bold underline decoration-(--highlight) decoration-3 underline-offset-5 md:underline-offset-8 xl:underline-offset-10 pb-5">Education</h1>
            
            <div *ngFor="let edu of education"
            class="border-l-5 relative  border-(--secondary) pb-5">
                <div class="absolute top-5 left-0 transform-[translate(-65%,0%)] md:transform-[translate(-60%,0%)]">
                    <div class="h-4 md:h-5 aspect-square bg-(--highlight) rotate-45 border-3 border-(--secondary)"></div>
                </div>
                <div class="pl-5 md:pl-10 pt-5 text-sm sm:text-md md:text-xl md:pt-4">
                    <h1 class="font-bold">{{ edu.degree }}<span class="hidden sm:inline lg:hidden xl:inline"> – </span><br class="sm:hidden lg:inline xl:hidden"/>{{ edu.name }}</h1>
                    <p class="pl-5">{{ edu.start }} – {{ edu.end }}</p>
                    <ol  class="pl-10 pt-3 list-disc">
                        <li *ngFor="let info of edu.infos">{{ info }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-start w-full">
            <h1 class="text-2xl md:text-4xl xl:text-5xl font-bold underline decoration-(--highlight) decoration-3 underline-offset-5 md:underline-offset-8 xl:underline-offset-10 pb-5">Work Experience</h1>
            
            <div *ngFor="let work of workExperience"
            class="border-l-5 relative  border-(--secondary) pb-5">
                <div class="absolute top-5 left-0 transform-[translate(-65%,0%)] md:transform-[translate(-60%,0%)]">
                    <div class="h-4 md:h-5 aspect-square bg-(--highlight) rotate-45 border-3 border-(--secondary)"></div>
                </div>
                <div class="pl-5 md:pl-10 pt-5 text-sm sm:text-md md:text-xl md:pt-4 ">
                    <h1 class="font-bold">{{ work.name }}<span class="hidden sm:inline lg:hidden xl:inline"> – </span><br class="sm:hidden lg:inline xl:hidden"/>{{ work.company }}</h1>

                    <ng-container *ngIf="work.end !== null; then thenBlock; else elseBlock"></ng-container>
                    <ng-template #thenBlock><p class="pl-5">{{ work.start }} – {{ work.end }}</p></ng-template>
                    <ng-template #elseBlock><p class="pl-5">{{ work.start }}</p></ng-template>
                    <ol  class="pl-10 pt-3 list-disc">
                        <li *ngFor="let task of work.tasks">{{ task }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>