<!-- <div class="flex flex-col h-full justify-center items-center text-xl tracking-[.4em] font-mono">
    <div class="scroll-ind flex flex-col justify-self-center self-center h-full">
        <div id="scroll" class="[&>span]:inline-block [&>span]:text-(--primary) [&>span]:opacity-50 [&>span]:font-bold uppercase">
            <span>s</span>
            <span>c</span>
            <span>r</span>
            <span>o</span>
            <span>l</span>
            <span>l</span>
        </div>
        <div class="h-full w-[0.2em] opacity-50 mx-auto
        indicator">
        </div>
        <a href="/#about" class="w-[50%] aspect-square mx-auto opacity-50 rounded-full p-4 cursor-pointer
        hover:bg-(--accent)">
            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeLarge" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path
                    d="M 2 7 L 12 19 L 22 7"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke="var(--primary)"
                    fill="none"
                ></path>
            </svg>

        </a>
    </div>
</div> -->
<div class="absolute w-full h-20 bottom-0 left-0 flex justify-center animate-bounce">
    <a href="/#about" class="h-full aspect-square mx-auto rounded-full p-4 cursor-pointer
    hover:bg-(--accent)">
        <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
            <path
                d="M 2 7 L 12 19 L 22 7"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke="var(--highlight)"
                fill="none"
            ></path>
        </svg>
    </a>
</div>