<div class="flex flex-col min-h-[5em] h-full justify-center items-center text-xl tracking-[.4em] font-mono">
    <div class="scroll-ind justify-self-center self-center h-full">
        <div id="scroll" class="[&>span]:inline-block [&>span]:text-(--primary) [&>span]:opacity-50 [&>span]:font-bold uppercase">
            <span>s</span>
            <span>c</span>
            <span>r</span>
            <span>o</span>
            <span>l</span>
            <span>l</span>
        </div>
        <div class="min-h-[5em] h-[100%] w-[0.2em] opacity-50 mx-auto
        indicator">
        </div>
    </div>
</div>