<div class="w-full h-auto grid md:grid-cols-2 md:grid-rows-1 relative md:gap-10 md:text-lg lg:text-xl xl:text-2xl ">
    <div class="size-full md:row-1 ps-15"
    [ngClass]="{ 
        'md:col-2 md:ps-5': work,
        'md:ps-0 md:pe-5': !work
     }">
     <wrap-animate-on-enter [transformOrigin]="(work || split) ? '0% 0%' : '100% 0%'" [animationType]="(work || split) ? 'rotate-left' : 'rotate-right'" [bouncy]="true" [offset]="200">
         <div class="bg-(--accent) p-5 rounded-xl">
             <ng-content select="[QUAL]"></ng-content>
         </div>
     </wrap-animate-on-enter>
    </div>
    <div class="size-mins row-1"
    [ngClass]="{ 'md:col-1 md:text-right': work}">
        <div class="px-15 p-5 md:px-5">
            <ng-content select="[TIME]"></ng-content>
        </div>
    </div>
    <div class="absolute h-6 aspect-square top-5 left-2 md:left-[50%] md:translate-x-[-50%] z-1">
        <div class="size-full bg-(--primary) rotate-45 border-2 border-(--secondary)"></div>
    </div>
    <div class="absolute h-full w-1 bg-(--secondary) top-10 left-[18px] md:left-[50%] md:translate-x-[-50%]"></div>
</div>