<div #sideNav class="h-dvh fixed w-full max-w-[130em] pointer-events-none" style="top: 100dvh;">
    <div class="flex flex-col size-full justify-center items-end">
        <div class="relative w-30 h-full flex justify-center items-center">
            <div class="relative w-full h-100 pointer-events-auto hover:[&>*]:translate-x-0 [&>*]:translate-x-1/1 hover:[&>*]:opacity-100 [&>*]:opacity-0 hover:before:opacity-0
                before:content-[' '] before:aspect-square before:h-5 before:absolute before:z-10 before:bg-(--highlight) before:top-[50%] before:right-[0%] before:transform-[translate(-65%,0%)] before:origin-center before:rotate-45 before:animate-pulse hover:before:animate-none">
                <div #rotate class="flex flex-col h-full justify-center items-end origin-[200%50%] transition-all
                [&>*]:origin-[200%50%] [&>*]:absolute [&>*]:text-(--secondary) [&>*]:text-xl [&>*]:w-full [&>*]:text-center [&>*]:pointer-events-auto">
                    <div #side class="-rotate-0">
                        <h1><a href="#1">Section 1</a></h1>
                    </div>
                    <div #side class="-rotate-15">
                        <h1><a href="#2">Section 2</a></h1>
                    </div>
                    <div #side class="-rotate-30">
                        <h1><a href="#3">Section 3</a></h1>
                    </div>
                    <div #side class="-rotate-45">
                        <h1><a href="#4">Section 4</a></h1>
                    </div>
                    <div #side class="-rotate-60">
                        <h1><a href="#5">Section 5</a></h1>
                    </div>
                    <div #side class="-rotate-75">
                        <h1><a href="#6">Section 6</a></h1>
                    </div>
                    <div #side class="-rotate-90">
                        <h1><a href="#7">Section 7</a></h1>
                    </div>
                    <div #side class="-rotate-105">
                        <h1><a href="#8">Section 8</a></h1>
                    </div>
                    <div #side class="-rotate-120">
                        <h1><a href="#9">Section 9</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>