@use "tailwindcss";

$dark-text: #fffcf2;
$dark-background: #0c0c15;
$dark-background-alt: #111122;
$dark-primary: #03BFA6;
$dark-secondary: #dac7c7;
$dark-accent: #33333e;


$light-text: #0f0c00;
$light-background: #dddcda;
$light-background-alt: #aeaeae;
$light-primary: #9000ff;
$light-secondary: #38342d;
$light-accent: #bec0c5;

.dark {
    --text: #{$dark-text};
    --background: #{$dark-background};
    --background-alt: #{$dark-background-alt};
    --primary: #{$dark-primary};
    --secondary: #{$dark-secondary};
    --accent: #{$dark-accent};
}

.light {
    --text: #{$light-text};
    --background: #{$light-background};
    --background-alt: #{$light-background-alt};
    --primary: #{$light-primary};
    --secondary: #{$light-secondary};
    --accent: #{$light-accent};
}

body {
    background-color: var(--background);
}

@media (hover: hover) {
    .hovereffect:hover {
        background: hsl(from var(--primary) h 25 l);
    }
    .hovereffectinverse:hover {
        background: hsl(from var(--primary) h 25 l);
    }
}

@media only screen and (min-width: 48rem) {
    .text-vertical {
        text-align: center;
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
    }
}